*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card-img{
  height: 200px;
  width: 100%;
  object-fit: cover;

  
}

.filter-container{
  padding: 10px;
  background-color: aqua;
}
.bg-red{
  display: flex;
}